# Python Virtual Environment
.venv/*

# Databases
*.sqlite3

# Misc
.idea
.DS_Store

# Migrations
*/migrations
!*/migrations/0001_initial.py

# Cached files
*/__pycache__
__pycache__/

# Python init files
*/_init_.py

#Tests
/testing